.ResumeDownload .ResumeDownload-btn {
	background: rgba(225, 225, 225, 0.05);
	border: 1px solid white;
	color: white;
	padding: 0.6rem 1rem;
	margin: 1.5rem 0;
	cursor: pointer;
	font-size: 24px;
}
.ResumeDownload .ResumeDownload-btn:hover {
	border-color: var(--secondary-color);
	transition: border-color 0.2s linear;
}
